<div class="container">
    <div class="header">
      <img style="padding-top:15px"width="120px" height="50px" src="\assets\AppLab.png">

      <div class="header-right-items">
        <div class="right-item">
            <p style="padding-right:15px">Home</p>
            <p style="padding-right:15px">Key Feature</p>
            <p style="padding-right:15px">Pricing</p>
            <p style="padding-right:15px">Testimal</p>
            <p style="padding-right:15px">FAQ</p>
            <img style="padding-left:20px; padding-bottom:20px" width="120px" src="\assets\Try for free.png">
        </div>
      </div>

    </div>

 
    <div class="header">
      <div class="inner-editor-section">
        <span class="background-border">
         <img  width="30px" height="30px" src="\assets\Rectangle 2 copy.png" >
         <img  width="180px" height="20px" src="\assets\Editiors Choice App of 2020 (2).png"style="padding-top: 10px;" >
       </span>
        <img  width="400px" height="100px" src="\assets\Best app for your modern lifestyle.png" style="padding-top: 15px;" >
        <img  width="400px"  src="\assets\Increase productivity with a simple to-do app. app for managing.png" style="padding-top: 20px;" >
        <div class="inner-editor-section2">
          <img width="100px" height="30px" src="\assets\Try for free.png">
          <img style="margin-top: 5px; margin-left:50px;" width="200px" height="20px" src="\assets\Watch demo video.png">
       </div>
    </div>
     
       <img  width="275px" height="500px" src="\assets\Vector Smart Object.png" style="margin-left: 30%;" >
    </div>
</div>
